@media screen and (max-width:600px){
    body{
    align-items: center;
   }
    header{
 display: none;
    }
.dropdown {
    text-align: center;
    position:sticky;
    top: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#home{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.home_image img{
    align-items: center;
    width:250px ;
    height:300px;
}
#about{
    align-items: center;
    display: flex;
    flex-direction:column;
}
#about img{
    align-items: center;
    width:250px ;
    height:300px;
}


#services{
    background-color: rgb(58, 56, 80);
}
#services h1{
 text-align: center;
}

.webi{
    display: flex;
   flex-direction: column;
   align-items: center;
    text-align: center;
}
.webii{
    display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.web1{
    background-color: rgb(0, 152, 255);
    border: 1px solid black;
    max-width: :400px;
}

.gallery1{
    display:flex;
    flex-direction: column;
}
.gallery2{
    display:flex;
    flex-direction: column;
}
.gallery3{
    display:flex;
    flex-direction: column;
}
.gallery4{
    display:flex;
    flex-direction: column;
}
.gallery5{
     display:flex;
      flex-direction: column;
}


.pageone{
    background-color: 2px solid black;
    padding: 10px;
    max-width: 600px;
    height: 200px;
    overflow: scroll;
}



   #contact{
      display: flex;
      flex-direction: column;
   }
   .contact-left{
      padding: 5px;
   }
     .testimony{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
    #contact{
      padding: 20px;
   }
   .gallery img{
     object-fit: fill;
   }
   
}
