@media screen and (max-width:600px){
    #contact{
      display: flex;
      flex-direction: column;
   } 
   .contact-left{
      padding: 5px;
   }
     .testimony{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
    #contact{
      padding: 20px;
   }
   #portfolio img{
    height: 150px;
    width:250px ;
   }
}
