@media screen and (max-width:600px){
    body{
    align-items: center;
   }
   nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 5px;
    background-color: #444;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}
   #contact{
      display: flex;
      flex-direction: column;
   }
   .contact-left{
      padding: 5px;
   }
     .testimony{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
    #contact{
      padding: 20px;
   }
   .gallery img{
     object-fit: fill;
   }
   
}
